/******** Currency - Table ********/
.currency-container {
  width: 50%;
  max-width: 300px;
  margin: 0 auto;
}
.currency-container table {
  border: 1px solid rgb(0,0,0);
  width: 100%;
  margin: 25px 0 10px 0;
}
.currency-container thead tr:last-child th {
  border-bottom: 1px solid rgb(0,0,0);
}
.currency-container table tr th {
  display: flex;
  justify-content: space-between;
}
.currency-container table tr th input[type="number"] {
  text-align: right;
}
.currency-container table tr td {
  border: 1px solid rgb(0,0,0);
}
.currency-container table tr td {
  display: flex;
  flex-wrap: wrap;
}
.currency-container table tr td#tdRates div:nth-child(2) {
  flex-grow: 1;
}
.currency-container table tr td#tdRates div:nth-child(3) {
  padding-right: 3px;
}
.currency-container table tr td input {
  text-align: right;
}
.currency-tablehead-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: left;
}
.currency-tablehead-name {
  font-style: italic;
  font-size: 12px;
  font-weight: bold; 
}
.currency-tablehead-codename {
  display: flex;
  flex-direction: row;
}
.currency-tablehead-codename div:last-child {
  text-align: right;
  flex-grow: 1;
}
.currency-tablehead-value {
  font-size: 18px;
  font-weight: bold;
  color: black;
}
.currency-list-detail {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.currency-list-detail-codevalue {
  display: flex;
  flex-direction: row;
}
.currency-list-nominal {
  font-size: 16px;
  font-weight: 700;
  color: rgb(50,50,50);
}
.remove-tab {
  text-align: center;
  line-height: 20px;
  min-width: 27px;
  max-width: 27px;
  background-color: rgb(178,34,34);
  color: white;
  height: 25px;
}
.remove-tab:hover {
  cursor: pointer;
  background-color: rgb(188,44,44);
}
.currency-list-perone {
  width: 100%;
  font-style: italic;
  font-size: 12px;
}
.currency-list-name {
  width: 100%;
  font-style: italic;
  font-size: 12px;
  font-weight: bold; 
}

/******** Currency - Dropdown ********/
.currency-dropdown {
  position: relative;
  display: inline-block;
  border: none !important;
}
.currency-dropdown:hover {
  cursor: pointer;
}
.currency-dropdown-button {
  text-align: center;
  width: 100%;
  font-size: 14px;
  padding: 7px 0;
  background-color: #00266b;
  color: white;
}
.currency-dropdown-button:hover {
  background-color: rgb(10, 48, 117);
}
.currency-dropdown-content {
  position: absolute;
  top: 35px;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  text-align: center;
  width: 99.5%;
  margin-bottom: 15px;
}
.currency-dropdown-content div {
  padding: 12px 16px;
  text-align: left;
  border-top: 1px solid #e2e2e2;
}
.currency-dropdown-content div:hover {
  background-color: #00266b;
  color: white;
}

/******** General ********/
.input-no-style {
  border: none;
  background-color: inherit;
  outline: none;
}
.display-block {
  display: block;
}
.display-none {
  display: none;
}
.visibility-hidden {
  visibility: hidden;
}